node_modules
.pnpm-store
dist
.git
.gitignore
.env
*.log
coverage
.next
.nuxt
.cache
.turbo

# Don't ignore the built files we need
!packages/javascript-sdk/esm
!packages/javascript-sdk/cjs
!packages/javascript-sdk/types
!packages/javascript-sdk/package.json
!packages/javascript-sdk/index.d.ts