Dockerfile
.dockerignore
node_modules/
npm-debug.log
dist/
nginx/
neo4j/
.husky/
.idea/
.vscode/
.github/
.terraform.lock.hcl
variables.tf
task-definition-nest.json
tfplan
docker-compose.dev.yml
docker-compose.yml