{
  "tabWidth": 2,
  "semi": false,
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "none",
  "arrowParens": "always",
  "printWidth": 110,
  "parser": "markdown",
  "experimentalTernaries": true,
  "plugins": ["prettier-plugin-tailwindcss"]
}
